[Unit]
Description=My Python Service
After=network.target

[Service]
# ExecStart=scrapy runspider /root/fiverr/ph_overload/pornhub.py
ExecStart=/root/miniconda3/bin/python3 /root/snap/lxd/common/ph_overload.py
WorkingDirectory=/root/snap/lxd/common
Restart=always

[Install]
WantedBy=multi-user.target
